@font-face {
    font-family:PTSans;
    src:url(../font/PTS55F.ttf);
}

body{font-family: PTSans, sans-serif;}

.header{padding: 40px 0;}

.login{color: #fff;font-size: 16px;margin-top: 10px;text-align: right;}
.login a{color: #74bdd8;}

.brand{margin: 20px 0;}
.brand h1{font-weight: normal;}
.brand h1 span{color: #333;}
.brand a:hover{text-decoration: none; color: #0088cc;}

.nav.nav-list .parent{background: url("../img/glyphicons-halflings.png") no-repeat; background-position: -456px -72px;}