@font-face {
    font-family:PTSans;
    src:url(../font/PTS55F.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:CharisSilI;
    src:url(../font/CharisSILI.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{font-family: PTSans, sans-serif;background: url(../img/bg.png) repeat;}
body > .container{width: 960px;min-height: 650px;background: #f4f4f4;box-shadow: inset 0px 0px 100px 0px #ececec;border: 1px solid #bbb;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
body > .container .container-shadow{border: 1px solid #f6f6f6;padding: 20px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
/*body > .container .row-fluid{padding: 20px;}*/

header.header{padding-bottom: 10px;}

.footer{background-color: transparent;border-top: none;margin-top: 0;padding: 20px 0;text-align: left;}
.footer > .container{width: 960px;background: #333;padding: 15px 0 30px;color: #fff;font-size: 12px; }

h2{font-weight: normal;}

dl dt{float: left;margin-right: 10px;}

table td{padding: 5px 10px;}

.label{color: #8f8f8f; font-size: 14px;background: none;text-shadow: none;padding: 0;line-height: 20px;font-weight: normal;}
td.label{padding: 5px 10px;}

.separator{border-bottom: 1px dotted #ccc; width: 100%;margin: 20px 0;}

.navbar-fixed-top .container{width: 960px;}
.header{padding: 30px 0;}

.login{color: #fff;font-size: 16px;margin-top: 10px;text-align: right;}
.login a{color: #74bdd8;}

.brand{margin: 0;}
.brand h1{font-weight: normal;}
.brand h1 span{color: #333;font-size: 30px;}
.brand a:hover{text-decoration: none; color: #0088cc;}

.my-brand{font-size: 18px;display: inline-block;font-weight: bold;margin-right: 5px;margin-left: 20px;}
.my-brand span{color: #0088cc;}

.nav.nav-list{border-radius: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;background-color: transparent;webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.nav.nav-list > li > a{color: #797979;border-bottom: 1px solid #e5e5e5;}
.nav.nav-list > li:first-child > a{border-radius: 0px;-webkit-border-radius: 0px;-moz-border-radius: 0px;}
.nav.nav-list > li.active > a{color: #333;background-color: #b5b5b5;webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
.nav.nav-list > li > a span.parent{font-size: 16px;color: #303030;}
.nav.nav-list.bs-docs-sidenav > li > a{border: 0;border-bottom: 1px solid #e5e5e5;}
.nav.nav-list.bs-docs-sidenav > li > a:hover{background-color: #74bdd8; color: #333}

.post-date{color: #b5b5b5;}

ul.list-article > li > a{color: #3f7e3f;}
.author-info-small {background: #e0e0e0;padding: 5px 10px;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.author-info-small a{color: #333;text-decoration: none;}


p.contacts{color: #005985;font-size: 18px;margin-top: 20px;margin-bottom: -10px;}