/*
.table-install-A{
    font-weight: bold;
    background: #FFF;
}
.table-install-A thead{
    background: #00A7E3;
}
.table-install-A td{
    padding: 20px;
}
.table-install-A h2{
    margin: 3px 0 0 118px;
    color: #333333;
}
.table-install-A span{
    color: #169BDE;
}
.left-install
{
    background: #FFF;
    height: 725px;
}
.content-install{
    background: #FFF;
    height: 725px;
    *border-collapse: separate;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.install-steps{
    background: #E4E4E4;
    border: 1px solid #C6C9C9;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    *border-collapse: separate;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.install-steps .span3
{
    float: left;   
}
.install-no{
    color: #AA1816; 
    font-weight: bold;
}
.install-yes{
    color: #657E31; 
    font-weight: bold;
}
.install-menu-active{
    background: #ECF4CA;
}

table .install-database-info{
    padding: 32px 0px 0px 7px;
    color: #75797C;
}
.install-worning{
    font-size: 20px;
    color: #AA1816;
    margin: 27px 0px 15px 0px;
}
.install-worning a{
    margin-top: 20px;
}

#overview .subnav .nav > li{
    float: left;
}


#overview .dropdown-menu li > a:hover, .dropdown-menu .active > a:hover{
    background: #F5F5F5;
    color: #555555;
}
.row_menu{
    width: 940px; margin-left: 0px;
}
#overview .btn-group{
    margin: 10px 0px 0px 2px; 
    float: left;
}
#overview .menu_list{
    padding:9px; 
    background-color: #E9E9E9;
    border-right-color: #DDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777;
}
#overview .dropdown-toggle{
    padding:9px; 
    background-color: #E9E9E9;
    border-right-color: #DDD;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
    color: #777;
}
#overview .dropdown-menu{
    margin-top: 8px;
    margin-left: -2px;
}


.menu-dash{
    color: #DDD;
    font-weight: bold;
    margin-right: 5px;
}*/

body{background: #F0F0F0;padding-top: 70px;}
.footer{margin-left: auto;margin-right: auto;background: #FFF;*border-collapse: separate;-webkit-border-radius: 0 0 13px 13px;-moz-border-radius: 0 0 13px 13px;border-radius: 0 0 13px 13px;}

i[class^="icon-"]{margin-right: 5px;}

.navbar .navbar-inner{height: 40px;}
.navbar.main .navbar-inner{background:#fff;height: 50px;}
.navbar.main .my-brand{float: right;color: #494949;font-size: 25px;font-family: PTSans, sans-serif;margin-top: 10px;}
.navbar.main .my-brand span{color: #4AA2D9;}
.navbar.main .container > div{margin: 13px 0px 3px 4px;color: #494949;font-size: 25px;float: left;}

.admin-content{width: 940px;background: white;margin-left: 0px;margin-top: 20px;}
.admin-content > .span12{margin-left: 0;}
.well{margin: 10px;min-height: 350px;}
.well h4{color: #3198B6;}

.content-head{background: #E4E4E4;border: 1px solid #C6C9C9;font-size: 20px;margin: 5px;padding: 10px;*border-collapse: separate;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.content-head .span3{float: left;}

/* Form */
.fieldset p{float: left;margin-right: 20px;width: 150px;;}
.fieldset > div{margin: 10px 0;}
.fieldset > div:after{clear: both;content: "";display: table;}
.button-set{text-align: right;margin-top: 20px;}
.button-set > div{display: inline-block;}
.button-set a{margin: 0 10px;}

label.error{text-align: left;}
.star{font-weight: bold;color: #BA0525;}

/* For Login */
.login{margin: 135px auto 0;padding: 5px 30px 30px;width: 320px;height: 100%;background-color: #fff;}
.login h4{color: #56ACE4; margin-top: 10px;}
.login .login-form > p{color: #C1C1C1;}

/* For Profile */
.page-admin-profile .well{min-height: 615px;}
.page-admin-profile .photo{padding: 0 45px;}

/* For Table */
table.tablesorter thead tr th{vertical-align: middle; text-align: center;}
table.tablesorter thead tr .header {background-image: url(../img/bg.gif);background-repeat: no-repeat;background-position: center right;cursor: pointer;}
table.tablesorter thead tr .headerSortUp {background-image: url(../img/asc.gif);}
table.tablesorter thead tr .headerSortDown {background-image: url(../img/desc.gif);}

.pagedisplay, .pagesize{margin-top: 10px;}
#pager .btn{padding: 2px;}

.border{border-right: 2px solid #C6C9C9; margin: 0 10px 0 5px;}